<form method="post" action="http://www.newapi.com/trunk/Order/submit_order_info" enctype="multipart/form-data" >
<p>内容：<input type='text' value='服务很好' name='content'></p>
<p>星级：<input type='text' value='1' name='stars'></p>
<p>消费id：<input type='text' value='13' name='order_ticket_id'></p>
<p>itemid：<input type='text' value='260' name='itemid'></p>
<p>salon_item_format_id：<input type='text' value='1033,1037,1039,1045,1048' name='salon_item_format_id'></p>
<p>num：<input type='text' value='2' name='num'></p>
<p>图片：
<input type='file' multiple="multiple" name='img[]'>
<!--
<input type='file' name='img[]'>
<input type='file' name='img[]'>
-->
</p>
<p>
    <input type='hidden' name='user_id' value='BjADWQEwV2c='>
    <input type='submit' name='submit'>
</p>
</form>
